@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin clippath {
    -webkit-clip-path: polygon(0 0 , 100% 0, 100% 75vh, 0, 100% );
    clip-path: polygon(0 0 , 100% 0, 100% 75vh, 0 100% );
}