.composition {
    position: relative;

    &__photo {
        width: 55%;
        position: absolute;
        box-shadow: 0 1.5rem 3rem rgba($color-black, 0.6);
        border-radius: 2px;
        outline-offset: 2rem;
        transition: all .3s;
        z-index: 10;

        &--p1 {
            left: 0;
            top: -2rem;
        }

        &--p2 {
            right: 0;
            top: 2rem;
        }

        &--p3 {
            left: 10rem;
            top: 10rem;
        }

        &:hover {
            outline: 1.5rem solid $color-primary;
            transform: scale(1.15) translateY(-.5rem);
            z-index: 20;
            box-shadow: 0 1rem 5rem rgba($color-black, 0.5);
        }
    }

    &:hover &__photo:not(:hover) {
        transform: scale(.95);
    }

}